body {
    background-color: #f4f4f9;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .card {
    background-color: #420707;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
  }
  
  .card h3 {
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .card p {
    font-size: 0.9rem;
    color: #666;
  }
  
  .column {
    background-color: #f0f5f9;
    padding: 20px;
    border-radius: 8px;
    width: 35%;
    min-height: 300px;
  }
  
  .column h3 {
    font-size: 1.6rem;
    color: #141414;
    margin-bottom: 25px;
  }
  
  @media (max-width: 768px) {
    .column {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  